<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pansol Resorts Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

<div class="container">

    <!-- LEFT SIDE -->
    <div class="left">

        <div class="overlay"></div>

        <div class="content">

            <div class="logo">

                <div>
                    <h2>PANSOL RESORTS</h2>
                    <p>Centralized Reservation Hub</p>
                </div>

            </div>

            <div class="welcome">

                <h1>Welcome Back!</h1>

                <p>
                    Sign in to continue your journey
                    <br>
                    to your perfect escape
                </p>

            </div>

        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="right">

        <div class="login-box">

            <h1>Log In</h1>

            <p class="subtitle">
                Welcome back! Please sign in to your account.
            </p>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

            <form action="/login" method="POST">

            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>


                <div class="form-group resort-box" id="resortBox">

                    <label>Select Resort</label>

                    <select name="resort_id">

                        <option value="" selected disabled>
                            Choose Resort
                        </option>
                        <option value="TRIPLE Z RESORT">
                            TRIPLE Z RESORT
                        </option>
                        <option value="SUNSCAPE RESORT">
                            SUNSCAPE RESORT
                        </option>
                        <option value="LUCKY MIELS RESORT">
                            LUCKY MIELS RESORT
                        </option>
                        <option value="MAGIC KINGDOM RESORT">
                            MAGIC KINGDOM RESORT
                        </option>
                        <option value="GALLELY RESORT">
                            GALLELY RESORT
                        </option>
                        <option value="RENALYN RESORT">
                            RENALYN RESORT
                        </option>

                        {% for resort in resorts %}

                        <option value="{{ resort.resort_id }}">
                            {{ resort.resort_name }}
                        </option>

                        {% endfor %}

                    </select>

                </div>


                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>

                <h3>Login as</h3>

                <div class="roles">

                    <!-- Customer -->
                    <label class="role">

                        <input
                            type="radio"
                            name="role"
                            value="customer"
                            checked>

                        <div>
                            <strong>Customer</strong>
                            <span>Back and Enjoy Resorts</span>
                        </div>

                    </label>

                    <!-- Caretaker -->
                    <label class="role">

                        <input
                            type="radio"
                            name="role"
                            value="caretaker">

                        <div>
                            <strong>Caretaker</strong>
                            <span>Let be the one to handle</span>
                        </div>

                    </label>

                </div>


    
                <button class="login-btn">
                    Log In
                </button>

                <p class="divider">
                    or continue with
                </p>

                <div class="social">

                    <button type="button">

                        <i class="fab fa-google"></i>

                        Google

                    </button>

                    <button type="button">

                        <i class="fab fa-facebook-f"></i>

                        Facebook

                    </button>

                </div>

                <div class="register">

                    Don't have an account?

                    <a href="{{url_for('registration')}}">Register Now</a>

                </div>

            </form>

        </div>

    </div>

</div>


<script>

const customer = document.querySelector('input[value="customer"]');
const caretaker = document.querySelector('input[value="caretaker"]');

const resortBox = document.getElementById("resortBox");

function toggleResort(){

    if(caretaker.checked){
        resortBox.style.display="block";
    }
    else{
        resortBox.style.display="none";
    }

}

customer.addEventListener("change",toggleResort);
caretaker.addEventListener("change",toggleResort);

toggleResort();

</script>


</body>
</html>